<ng-container *ngIf="isReady; then content; else loading">
</ng-container>

<ng-template #loading>
  <div class="loading">
    <div class="spinner-border" role="status">
    </div>
  </div>
</ng-template>

<ng-template #content>
  <section class="tools-section h-100">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filtrar Por
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="sortBy(TS.NONE)">No Filtrar</a></li>
        <li><a class="dropdown-item" (click)="sortBy(TS.PRICE)">Precio</a></li>
        <li><a class="dropdown-item" (click)="sortBy(TS.NAME)">Nombre</a></li>
        <li><a class="dropdown-item" (click)="sortBy(TS.BRAND)">Marca</a></li>
        <li><a class="dropdown-item" (click)="sortBy(TS.CITY)">Ciudad</a></li>
      </ul>
    </div>
    <!--Show Tools-->
    <div class="tools-grid row">
      <div class="col-sm-3 mb-3 mb-sm-0" *ngFor="let tool of tools">
        <div class="card text-black tool-card">
          <img [src]="tool.image" class="card-img-top" [alt]="tool.name" />
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">{{tool.name}}</h5>
              <p class="text-muted mb-4">{{tool.description}}</p>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Marca</span><b>{{tool.brand.name}}</b>
              </div>
              <div class="d-flex justify-content-between">
                <span>Ciudades Disponibles</span>
                <ul>
                  <li *ngFor="let city of tool.cities">{{city.name}}</li>
                </ul>
              </div>
            </div>
            <b class="units">{{tool.units}} Unidades Disponibles</b>
            <div class="d-flex justify-content-between font-weight-bold">
              <span>Precio</span><span>${{tool.price}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Show Pagination-->
    <nav class="d-flex align-items-center justify-content-center">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" [class.disabled-link]="pagination.first">Anterior</a></li>
        <li class="page-item"><b class="page-link">{{pagination.number}}</b></li>
        <li class=" page-item"><a class="page-link" [class.disabled-link]="pagination.last">Siguiente</a></li>
      </ul>
    </nav>
  </section>
</ng-template>
