<div class="d-flex justify-content-center align-items-center gap-3 my-5">

  <div class="card" style="width: 18rem;">
    <img src="assets/tools.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Herramientas</h5>
      <p class="card-text">Ventana de listado de herramientas donde podrá explorar y seleccionar entre todas las
        herramientas disponibles o administrarlas si ha iniciado sesión</p>
      <a href="/tools" class="btn btn-primary">Abrir Herramientas</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/office.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Gestión de Usuarios</h5>
      <p class="card-text">Ventana de administración de usuarios, donde podrá realizar tareas como agregar, editar o
        eliminar usuarios, debe haber iniciado sesión para acceder.</p>
      <a href="#" class="btn btn-primary">Administrar Usuarios</a>
    </div>
  </div>

</div>
