<div class="d-flex justify-content-center align-items-center gap-3 my-5">
  <ng-component *ngIf="authenticated; then logout; else login_form"></ng-component>
</div>

<ng-template #logout>
  <h1 class="title">¿Cerrar Sesión?</h1>
  <button class="btn btn-warning" (click)="logOut()">Cerrar Sesión</button>
</ng-template>

<ng-template #login_form>
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="usuario" class="form-label">Usuario:</label>
      <input type="text" class="form-control" id="usuario" required="required" formControlName="user">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password: </label>
      <input type="password" class="form-control" id="password" required="required" formControlName="password">
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
  </form>
</ng-template>
