<ng-component *ngIf="!authenticated; then not_authenticated; else content">
</ng-component>

<ng-template #content>
  <ng-component *ngIf="isReady; then ready; else loading">
  </ng-component>
</ng-template>

<ng-template #not_authenticated>
  <div class="d-flex align-items-center justify-content-center m-5">
    <div class="card mb-3" style="max-width: 18rem;">
      <div class="card-header text-bg-danger">Fallo de Autenticación</div>
      <div class="card-body">
        <h5 class="card-title text-danger">No estás autenticado</h5>
        <p class="card-text">Por favor inicia sesión para continuar...</p>
        <a class="btn btn-outline-danger" href="/login">Iniciar Sesión</a>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #loading>
  <div class="loading">
    <div class="spinner-border" role="status">
    </div>
  </div>
</ng-template>

<ng-template #ready>
  <!-- Header -->
  <div class="header">
    <img src="assets/images/hardware.png" alt="" srcset="">
    <div class="content">
      <h1 class="title">Listado de Usuarios</h1>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center gap-3">
    <!-- Filtros -->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Ordenar Por
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" [class.active]="currentSort == US.NONE" (click)="sortBy(US.NONE)">No Ordenar</a>
        <li><a class="dropdown-item" [class.active]="currentSort == US.NAME" (click)="sortBy(US.NAME)">Nombre</a>
        <li><a class="dropdown-item" [class.active]="currentSort == US.LASTNAME"
            (click)="sortBy(US.LASTNAME)">Apellido</a>
        <li><a class="dropdown-item" [class.active]="currentSort == US.ID" (click)="sortBy(US.ID)">Número de
            Identificación</a>
        <li><a class="dropdown-item" [class.active]="currentSort == US.BIRTHDATE" (click)="sortBy(US.BIRTHDATE)">Fecha
            de Nacimiento</a>
        <li><a class="dropdown-item" [class.active]="currentSort == US.CITY" (click)="sortBy(US.CITY)">Ciudad</a>
        </li>
      </ul>
    </div>
    <!-- Paginación -->
    <nav class="mt-3">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" [class.disabled-link]="pagination.first"
            (click)="goPreviousPage()">Anterior</a></li>
        <li class="page-item"><b class="page-link">{{pagination.number}}</b></li>
        <li class=" page-item"><a class="page-link" [class.disabled-link]="pagination.last"
            (click)="goNextPage()">Siguiente</a></li>
      </ul>
    </nav>
    <!-- Listado de Usuarios -->
    <form class="d-flex" role="search" (ngSubmit)="searchByName()">
      <input class="form-control me-2" type="search" placeholder="Nombre del Usuario" aria-label="Nombre del Usuario"
        name="searchName" [(ngModel)]="searchName">
      <button class="btn btn-outline-primary" type="submit">Buscar</button>
    </form>
  </div>
  <!-- Contents -->
  <div class="users d-flex align-items-center justify-content-center gap-3">
    <table class="table table-bordered table-light table-hover text-center">
      <thead>
        <tr class="table-dark">
          <th>ID</th>
          <th>Username</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Ciudad</th>
          <th>Fecha de Nacimiento</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.name}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.city.name}}</td>
          <td>{{user.birthDate}}</td>
          <td>
            <button class="btn btn-outline-danger" (click)="deleteUser(user.id)">
              <i class="bi bi-trash-fill"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
